*.swp
*.zip
*-cache
node_modules/
*.log
secrets.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
seed-prod.js
# VS Code
.vscode/
# Key Files
*.pem

**/.DS_Store 
.DS_Store