extends layout

block title
  title Phi Psi Rush Check In

block header
  h1#title.card-shadow Check In

block content
  script var rusheeInfo = !{JSON.stringify(rusheeInfo)};
  div#returner-search.card-hover
    input#returner-search-input(type="search" placeholder="Returning? Look your name up here.")
    ol#returner-search-results
      each rushee in rusheeInfo
        li(id="returner-entry-#{rushee.id}")
          span.returner-name #{rushee.name}
          span.returner-dorm #{rushee.dorm}
  button.card-hover(type="button")
  a.card-hover(href="/register") First time? Click here to register

block scripts
  script(src="/js/checkin.js")
