doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title Phi Psi Rush Portal
    meta(name='description', content='Phi Psi\'s Rush Book')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/master.css')
  body
    block header
    div.container
      block content
    block footer
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')