extends layout

block title
  title Login - Phi Psi Rush Portal

block header
  h1#title.card-shadow Phi Psi Rush Portal Login

block content
  form(action="/login", method="post")
    div.row
      label.col-sm-4 Name (Firstname Lastname)
      input.col-sm-8(type="text", name="username")
    div.row
      label.col-sm-4 Password (4 words)
      input.col-sm-8(type="password" name="password")
    div
      input.card-hover(type="submit" value="Log In")