extends layout

block header
  h1#title.card-shadow Registration

block content
  form(action="/login", method="post")
    div
      label Name:
      input(type="text", name="name")
    div
      label Year:
      select(name="year")
        option(value="Freshman") Freshman
        option(value="Sophomore") Sophomore
        option(value="Junior") Junior
        option(value="Senior") Senior - seriously?
      label Dorm:
      input(type="text" name="dorm")
      label Room number:
      input(type="text" name="room")
    div#webcam
    button#capture-btn.card-hover(type="button" onclick="capture()") Take Photo
    div
      input.card-hover(type="submit" value="Register")

block scripts
  script(src="/js/webcam.min.js")
  script(src="/js/register.js")