#title {
  margin-bottom: 2rem;
}

#rushee-filter {
  display: block;
  margin: 0 auto 1rem auto;
  padding: 0.25rem 0.75rem;
  width: 35rem;
  max-width: 100%;

  &:focus {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

#rushee-list {
  counter-reset: li; /* Initiate a counter */
  margin: 0;
  padding: 0;
  position: relative;

  :hover {
    text-decoration: none;
  }

  .rushee-entry {
    list-style: none; /* Disable the normal item numbering */
    margin: 1rem 0;
    width: 100%;
    position: relative;

    // custom li number
    &:before {
      content: counter(li); /* Use the counter as content */
      counter-increment: li; /* Increment the counter by 1 */
      /* Position and style the number */
      position: absolute;
      top: 0; right: 0.5rem;
      z-index: -1;
      font-size: 300%;
      color: rgba(0,0,0,0.225);
    }
    

    > a {
      color: $primary-text-color;

      > .row {
        width: 100%;
        margin: 0;
      }
    }

    .rushee-picture {
      padding: 0;

      img {
        border-radius: 0.2rem 0 0 0.2rem;

        @media (max-width: 36em) {
          border-radius: 0;
          margin: 0 auto;
        }
      }
    }

    .rushee-info {
      border-right: 0.1rem solid #ddd;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 36em) {
        border-right: 0;
        border-bottom: 0.1rem solid #ddd;
      }

      .rushee-name {
        text-align: center;
      }

      .top-traits-container {
        width: 100%;
        margin: 0;
        margin-bottom: 0.4rem;
      }

      .trait {
        font-size: 90%;
        margin: 0.1rem;
        
        > .num-endorsements {
          padding: 0.25rem;
          min-width: 2rem;
        }

        > p {
          padding: 0.25rem 0.5rem;
        }
      }

      .rushee-year-dorm {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-around;
      }

      .rating {
        font-size: 125%;
      }
    }

    .rushee-summary > p {
      max-height: 100%;
      overflow: hidden;
      margin: 0.5rem 0;
    }
  }
}
