#title-detail {
  @extend #title;
  text-align: left;
  margin-bottom: 4rem;
  padding: 2rem 0;

  .row {
    margin: 0;
  }

   #profile-picture {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 15rem;
    max-height: 15rem;
  }

   #title-info {
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    > h1 {
      display: inline-block;
      font-size: 400%;
    }

    > .rating {
      width: 100%;
      font-size: 150%;

      > span {
        color: #539e53; // mix with white at opacity 0.3

        &[active], &[active] ~ span, &[checked]:before {
          color: #fff;
        }
      }

      > div {
        color: #fff;
      }
    }

    > .rushee-year-dorm > span {
      float: left;
      width: 8rem;
      padding-left: 1rem;
    }
    
    .rushee-attendance {
      .attended-true {
        background-color: #fff;
      }
      .attended-false {
        background-color: #539e53;
      }
    }
  }
}

#histogram > .hist-bars {
  height: 5rem;
}

.content {
  color: $primary-text-color;
}

#back-button {
  position: relative;
  left: -1rem;
  text-align: middle;
  padding-top: 3rem;
  color: #fff;
  font-size: 300%;
  transition: text-shadow 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    text-shadow: 0 0 0.5rem;
  }
}

.detail-header {
  margin: 0 0 2rem 0;
  color: $hunter-green;
}

.detail-item {
  width: calc(100% - 2rem);
  margin: 0 2rem;
  margin-bottom: 1rem;

  @media (max-width: 48em) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

#trait-list {
  list-style: none;
  padding: 0;

  > .trait-full {
    margin-bottom: 0.5rem;

    .trait {
      max-width: 70%; // calc(100% - 5rem);

      > p {
        padding: 0.5rem 1rem;
      }
    }
  }
}

#comment-list {
  list-style-type: none;
  padding: 0;
  display: block;
  margin-bottom: 0;

  > .comment {
    margin-bottom: 1rem;

    > .name-box {
      font-size: 90%;
      float: left;
      margin: 0 1rem 0 0;
    }

    > p {
      margin-bottom: 0;
    }
  }
}
