$hunter-green: #0a760a;
$cardinal-red: #d01131;
$cardinal-red-60: #f0425f;
$inactive-color: #ddd;

$primary-text-color: #111;

.card-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
  @extend .card-shadow;
  border: 0;
  border-radius: 0.2rem;
}

.card-hover {
  @extend .card;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

#title {
  width: 100%;
  text-align: center;
  background: $hunter-green;
  color: #fff;
  padding: 2rem;
}

// Star rating
.rating {
  display: block;
  float: left;
  width: 100%;

  > input {
    display: none
  }

  > label {
    text-align: center;
    float: right;
    width: 20%;
    padding: 0;
    cursor: pointer;
    color: $inactive-color;
    font-size: 160%;
  }
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked ~ label {
  color: $cardinal-red;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $cardinal-red-60;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $cardinal-red-60;
}

// Traits
.trait {
  display: inline-block;
  font-size: 110%;

  span {
    display: inline-block;
  }

  > .num-endorsements {
    background-color: $cardinal-red;
    border-radius: 0.2rem 0 0 0.2rem;
    color: white;
    min-width: 2.5rem;
    padding: 0.5rem;
    text-align: center;
  }

  > .trait-name {
    display: inline-block;
    padding: 0.5rem 1.5rem;
  }
}

.name-box {
  background-color: $cardinal-red;
  color: white;
  display: inline-block;
  padding: 0.5rem;
}

.trait-full > .name-box {
  float: right;
  font-size: 110%;
  margin: 0 0.1rem;
}

.trait-vote {
  float: left;
  display: inline-block;

  > input {
    display: none;
  }

  > label {
    color: $inactive-color;
    cursor: pointer;
    text-align: center;
    font-size: 110%;
    padding: 0.5rem 0;
    margin: 0;
    margin-right: 0.5rem;
  }
}

.trait-vote > label:before {
  content: '➕';
}

.trait-vote:hover > input:checked ~ label:before, {
  content: '➖';
}

.trait-vote > input:checked ~ label {
  color: $cardinal-red;
}

@import 'index';
@import 'rushee';