body {
  background: #fff;

}

$hunter-green: #0a760a;
$cardinal-red: #d01131;
$cardinal-red-60: #f0425f;

$primary-text-color: #111;

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.title {
  width: 100%;
  text-align: center;
  background: $hunter-green;
  color: #fff;
  padding: 2rem;
}

.rushee-list {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;

  .rushee-entry {
    margin: 0.5rem 0;
    width: 100%;

    color: $primary-text-color;

    .rushee-picture {
      padding: 0;
    }

    .rushee-info {
      padding: 1rem;
      margin: 0;

      .rushee-name {
        text-align: center;
      }

      .rushee-year {
        float: left;
      }

      .rushee-dorm {
        float: right;
      }
    }
  }
}

// Star rating
.rating {
  display: block;
  float:left;
  width: 100%;

  > input {
    display: none
  }

  > label {
    text-align: center;
    float:right;
    width: 20%;
    padding:0;
    cursor: pointer;
    color: #ddd;
    font-size: 160%;
  }
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked ~ label {
  color: $cardinal-red;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $cardinal-red-60;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $cardinal-red-60;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}
